.titulo {
  font-size: 24.4px;
  font-family: sans-serif;
  padding-top: 8%;
  padding-left: 6%;
  color: #94D6F9;
}
.first{
  margin-top: 3vh;
}
.atv{
  font-size: 16px;
  margin-top: 1vh;
}
.atv-container{
  display: flex;
  justify-content: center;
}


.second{
  margin-top: 2vh;
}
.atv-imgs{
  height: 50vh;
}

.acompanhadas{
  height: 50vh;
}
