.sobre{
    margin: auto;
    

}
.professor{
    font-size: 16px;
    color: #06AFF2;
}
.klecius{
    max-width: 80vw;
    max-height: 35vh;
}
.flavia{
    min-width: 80vw;
    max-height: 35vh;
}
.description{
    margin-top: 2vh;
    font-size: small;
}